body {
  height: 100%;
  font-family: "Bellota", cursive;
}

.title {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  color: #000;
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.button {
  width: 200px;
  height: 80px;
  padding: 20px;
  background-color: #bae7ff;
  border-radius: 15px;
  color: #000;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

.button:hover {
  background-color: #abe1fd;
}

.img {
  width: 550px;
  margin-top: 50px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  .img {
    width: 300px;
    margin: 0 auto;
  }
  .title {
    margin: 0 auto;
    font-size: 40px;
  }
  .buttons {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .button {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
